<template>
  <q-page class="flex flex-center tw-w-full">
    <div class="full-width tw-max-w-md tw-space-y-12 q-pa-sm">
      <H3Component> Iniciar sesión </H3Component>
      <LoginForm />
    </div>
  </q-page>
</template>

<script setup>
import H3Component from "src/components/ui/H3Component.vue";
import LoginForm from "src/components/forms/auth/LoginForm.vue";
</script>
