<template>
  <q-page class="flex flex-center tw-w-full">
    <div class="full-width tw-max-w-md tw-space-y-12 q-pa-sm">
      <H3Component> Crear cuenta </H3Component>
      <RegisterForm />
    </div>
  </q-page>
</template>

<script setup>
import H3Component from "src/components/ui/H3Component.vue";
import RegisterForm from "src/components/forms/auth/RegisterForm.vue";
</script>
