<template>
  <q-input
    v-model="value"
    type="email"
    label="Correo electrónico"
    color="light-blue-5"
    bottom-slots
    clearable
    lazy-rules
    :rules="[
      (val) => !!val || 'Este campo es obligatorio',
      (val) =>
        /.+@.+\..+/.test(val) ||
        'Por favor, ingresa un correo electrónico válido',
    ]"
  >
    <template v-slot:prepend>
      <q-icon name="mail_outline" />
    </template>
  </q-input>
</template>

<script setup>
import { computed } from "vue";

const props = defineProps({
  modelValue: String,
});

const emit = defineEmits(["update:modelValue"]);

const value = computed({
  get: () => props.modelValue,
  set: (val) => emit("update:modelValue", val),
});
</script>
