<template>
  <q-input
    v-model="value"
    :type="showPassword ? 'text' : 'password'"
    label="Contraseña"
    color="light-blue-5"
    bottom-slots
    clearable
    lazy-rules
    :rules="[(val) => !!val || 'Este campo es obligatorio']"
  >
    <template v-slot:prepend>
      <q-icon name="key" />
    </template>
    <template v-slot:append>
      <q-icon
        :name="showPassword ? 'visibility_off' : 'visibility'"
        @click="togglePasswordVisibility"
        class="cursor-pointer"
      />
    </template>
  </q-input>
</template>

<script setup>
import { ref, computed } from "vue";

const props = defineProps({
  modelValue: String,
});

const emit = defineEmits(["update:modelValue"]);

const showPassword = ref(false);
const value = computed({
  get: () => props.modelValue,
  set: (val) => emit("update:modelValue", val),
});

function togglePasswordVisibility() {
  showPassword.value = !showPassword.value;
}
</script>
