<template>
  <q-input
    v-model="value"
    :label="label"
    color="light-blue-5"
    clearable
    lazy-rules
    :rules="[(val) => !!val || 'Este campo es obligatorio']"
  />
</template>

<script setup>
import { computed } from "vue";

const props = defineProps({
  modelValue: String,
  label: String,
});

const emit = defineEmits(["update:modelValue"]);

const value = computed({
  get: () => props.modelValue,
  set: (val) => emit("update:modelValue", val),
});
</script>
