<template>
  <div class="flex justify-between">
    <H4Component>Artículos</H4Component>
    <div class="flex tw-gap-4">
      <q-btn
        v-if="
          authStore.userRole === 'root' ||
          authStore.isPermissions('create-articles')
        "
        label="Nuevo artículo"
        color="light-blue-5"
        no-caps
        @click="isOpenArticleDialog = true"
      />
      <q-btn
        v-if="
          authStore.userRole === 'root' ||
          authStore.isPermissions('export-articles')
        "
        label="Exportar artículos"
        color="light-blue-5"
        no-caps
        @click="articlesExport"
      />
    </div>
  </div>
  <div class="flex wrap tw-justify-evenly tw-gap-7 q-pt-lg">
    <div v-for="article in articleStore.articles" :key="article.id">
      <ArticleCard
        :article="article"
        @edit="editArticle"
        @delete="deleteArticle"
      />
    </div>
  </div>
  <DialogComponent
    :title="currentArticle ? 'Editar Artículo' : 'Nuevo Artículo'"
    :isVisible="isOpenArticleDialog"
    @update:isVisible="isOpenArticleDialog = $event"
  >
    <ArticleForm :article="currentArticle" @submit="handleFormSubmit" />
  </DialogComponent>
</template>
<script setup>
import { ref, onMounted } from "vue";
import { Notify } from "quasar";
import { useArticleStore } from "src/store/articles";

import { useAuthStore } from "src/store/auth";
import H4Component from "src/components/ui/H4Component.vue";
import ArticleCard from "src/components/common/articles/ArticleCard.vue";
import DialogComponent from "src/components/ui/DialogComponent.vue";
import ArticleForm from "src/components/forms/articles/ArticleForm.vue";
import { exportArticles } from "src/services/articlesServices";

const isOpenArticleDialog = ref(false);
const currentArticle = ref(null);
const articleStore = useArticleStore();
const authStore = useAuthStore();

onMounted(async () => {
  try {
    await articleStore.fetchArticles();
  } catch (error) {
    console.error("Error fetching articles:", error);
    Notify.create({
      type: "negative",
      message:
        "Error al cargar los artículos. Por favor, intenta de nuevo más tarde.",
      position: "bottom-right",
    });
  }
});

const handleFormSubmit = async (articleData) => {
  try {
    if (currentArticle.value && currentArticle.value.id) {
      await articleStore.updateArticle(currentArticle.value.id, articleData);
      Notify.create({
        type: "positive",
        message: "Artículo actualizado correctamente.",
        position: "bottom-right",
      });
    } else {
      await articleStore.addArticle(articleData);
      Notify.create({
        type: "positive",
        message: "Artículo añadido correctamente.",
        position: "bottom-right",
      });
    }
  } catch (error) {
    const errorMessage =
      articleStore.articleError ||
      "Error al procesar la solicitud. Por favor, intenta de nuevo.";
    Notify.create({
      message: errorMessage,
      color: "negative",
      position: "bottom-right",
    });
  }
  isOpenArticleDialog.value = false;
  currentArticle.value = null;
};

const editArticle = (article) => {
  currentArticle.value = { ...article };
  isOpenArticleDialog.value = true;
};

const deleteArticle = async (id) => {
  try {
    await articleStore.removeArticle(id);
    Notify.create({
      type: "positive",
      message: "Artículo eliminado correctamente.",
      position: "bottom-right",
    });
  } catch (error) {
    console.error("Error deleting article:", error);
    Notify.create({
      type: "negative",
      message: `Error al eliminar el artículo: ${error.message}`,
      position: "bottom-right",
    });
  }
};

const articlesExport = async () => {
  try {
    await exportArticles();

    Notify.create({
      type: "positive",
      message: "Artículos exportados correctamente.",
      position: "bottom-right",
    });
  } catch (error) {
    console.error("Error deleting article:", error);
    Notify.create({
      type: "negative",
      message: `Error al exportar los artículos: ${error.message}`,
      position: "bottom-right",
    });
  }
};
</script>
