<template>
  <div class="flex justify-between">
    <H4Component>{{ dataRouteSection.nameSection }}</H4Component>
    <div class="flex tw-gap-4">
      <q-btn
        v-if="
          route.path === '/admin' ||
          authStore.userRole === 'root' ||
          ((route.path === '/writers' || route.path === '/users') &&
            authStore.userRole === 'admin' &&
            authStore.isPermissions('create-users'))
        "
        :label="dataRouteSection.titleCreate"
        color="light-blue-5"
        no-caps
        @click="isOpenDialog = true"
      />
      <q-btn label="Exportar usuarios" color="secondary" no-caps />
    </div>
  </div>
  <div class="tw-max-w-sm tw-ml-auto">
    <q-input v-model="searchQuery" placeholder="Buscar" dense debounce="500" />
  </div>
  <div class="q-pt-lg">
    <UsersTable :users="filteredUsers" @edit="editUser" @delete="deleteUser" />
  </div>
  <DialogComponent
    :title="
      currentUser ? dataRouteSection.titleCreate : dataRouteSection.titleCreate
    "
    :isVisible="isOpenDialog"
    @update:isVisible="isOpenDialog = $event"
  >
    <UserForm @submit="handleFormSubmit" :user="currentUser" />
  </DialogComponent>
</template>
<script setup>
import { ref, onMounted, watch, computed } from "vue";
import { useRoute } from "vue-router";
import { Notify } from "quasar";
import { useAuthStore } from "src/store/auth";
import { useUsersStore } from "src/store/users";
import { determinePathRoute } from "src/helpers/pathRouteUsersHelper";

import H4Component from "src/components/ui/H4Component.vue";
import UsersTable from "src/components/common/users/UsersTable.vue";
import DialogComponent from "src/components/ui/DialogComponent.vue";
import UserForm from "src/components/forms/users/UserForm.vue";

const route = useRoute();
const userStore = useUsersStore();
const isOpenDialog = ref(false);
const currentUser = ref(null);
const dataRouteSection = ref([]);
const searchQuery = ref("");

const authStore = useAuthStore();

const loadUsers = async () => {
  dataRouteSection.value = determinePathRoute(route.path);
  if (dataRouteSection.value.route) {
    try {
      await userStore.fetchUsers(dataRouteSection.value.route);
    } catch (error) {
      console.error("Error fetching articles:", error);
      Notify.create({
        type: "negative",
        message:
          "Error al cargar los usuarios. Por favor, intenta de nuevo más tarde.",
        position: "bottom-right",
      });
    }
  }
};

const filteredUsers = computed(() => {
  if (!searchQuery.value) {
    return userStore.users;
  }
  return userStore.users.filter((user) => {
    return (
      user.attributes.name
        .toLowerCase()
        .includes(searchQuery.value.toLowerCase()) ||
      user.attributes.email
        .toLowerCase()
        .includes(searchQuery.value.toLowerCase())
    );
  });
});

const editUser = (user) => {
  currentUser.value = { ...user };
  isOpenDialog.value = true;
};

const deleteUser = async (id) => {
  try {
    await userStore.removeUser(dataRouteSection.value.route, id);
    Notify.create({
      type: "positive",
      message: "Usuario eliminado correctamente.",
      position: "bottom-right",
    });
  } catch (error) {
    console.error("Error al eliminar el usuario", error);
    Notify.create({
      type: "negative",
      message: `Error al eliminar el usuario: ${error.message}`,
      position: "bottom-right",
    });
  }
};

const handleFormSubmit = async (userData) => {
  const data = { ...userData };
  console.log(currentUser.value);
  try {
    if (currentUser.value && currentUser.value.id) {
      data.rol = dataRouteSection.value.roleCreate;
      await userStore.updateUser(
        dataRouteSection.value.route,
        currentUser.value.id,
        data
      );
      Notify.create({
        type: "positive",
        message: "Usuario actualizado correctamente.",
        position: "bottom-right",
      });
    } else {
      data.rol = dataRouteSection.value.roleCreate;
      await userStore.addUser(dataRouteSection.value.route, data);
      Notify.create({
        type: "positive",
        message: "Usuario creado correctamente.",
        position: "bottom-right",
      });
    }
  } catch (error) {
    console.log(error);
    const errorMessage =
      userStore.usersError ||
      "Error al procesar la solicitud. Por favor, intenta de nuevo.";
    Notify.create({
      message: errorMessage,
      color: "negative",
      position: "bottom-right",
    });
  }
  isOpenDialog.value = false;
  currentUser.value = null;
};

onMounted(() => {
  loadUsers();
});

watch(
  () => route.path,
  (newPath, oldPath) => {
    if (newPath !== oldPath) {
      loadUsers(newPath);
    }
  }
);
</script>
