<template>
  <q-markup-table>
    <thead class="bg-teal text-white">
      <th class="text-left">Titulo</th>
      <th class="text-left">Slug</th>
      <th class="text-left">Descripción</th>
      <th class="text-left">Vistas</th>
      <th class="text-left">Me gusta</th>
      <th class="text-left">Fecha de creación</th>
      <th
        class="text-left"
        v-if="
          authStore.userRole === 'root' ||
          (authStore.userRole === 'admin' &&
            (authStore.isPermissions('restore-articles') ||
              authStore.isPermissions('destroy-articles')))
        "
      >
        Acciones
      </th>
    </thead>
    <tbody>
      <tr v-for="article in articles" :key="article.id">
        <td class="text-left">{{ article.attributes.title }}</td>
        <td class="text-left">{{ article.attributes.slug }}</td>
        <td class="text-left tw-max-w-32 tw-truncate">
          {{ article.attributes.content }}
        </td>
        <td class="text-left">{{ article.attributes.views }}</td>
        <td class="text-left">{{ article.attributes.like_count }}</td>
        <td class="text-left">{{ article.attributes.created_at }}</td>
        <td
          class="text-left"
          v-if="
            authStore.userRole === 'root' ||
            (authStore.userRole === 'admin' &&
              (authStore.isPermissions('restore-articles') ||
                authStore.isPermissions('destroy-articles')))
          "
        >
          <q-btn
            v-if="
              route.path === '/bin/articles' &&
              (authStore.userRole === 'root' ||
                authStore.isPermissions('restore-articles'))
            "
            label="Restaurar"
            color="secondary"
            no-caps
            @click="edit(article.id)"
          />
          <q-btn
            v-if="
              route.path === '/bin/articles' &&
              (authStore.userRole === 'root' ||
                authStore.isPermissions('destroy-articles'))
            "
            class="q-ml-md"
            label="Eliminar Permanentemente"
            color="negative"
            no-caps
            @click="deleted(article.id)"
          />
        </td>
      </tr>
    </tbody>
  </q-markup-table>
</template>
<script setup>
import { useRoute } from "vue-router";
import { useAuthStore } from "src/store/auth";

const route = useRoute();
const authStore = useAuthStore();

const emit = defineEmits(["edit", "delete"]);

const props = defineProps({
  articles: {
    type: Object,
    required: true,
  },
});

function deleted(articleId) {
  emit("delete", articleId);
}

function edit(article) {
  emit("edit", article);
}
</script>
