<template>
  <div>
    <q-card
      class="tw-bg-white/60 full-width tw-min-w-72 tw-max-w-80 2xl:tw-max-w-80"
    >
      <router-link :to="`/articles/view/${article.id}`">
        <q-img src="https://cdn.quasar.dev/img/parallax2.jpg">
          <div class="absolute-bottom">
            <div class="text-h6">{{ article.attributes.title }}</div>
            <div class="text-subtitle2">
              Slug: {{ article.attributes.slug }}
            </div>
          </div>
        </q-img>
      </router-link>
      <q-card-section class="tw-h-36 tw-overflow-hidden">
        {{ article.attributes.content }}
      </q-card-section>
      <div class="flex tw-justify-between tw-items-center">
        <q-card-actions>
          <q-btn
            v-if="
              authStore.userRole === 'root' ||
              (authStore.userRole === 'admin' &&
                authStore.isPermissions('delete-articles')) ||
              (authStore.userRole === 'writer' &&
                article.attributes.belongs_to_user)
            "
            @click="deleteArticle()"
            no-caps
            color="negative"
          >
            Eliminar
          </q-btn>
          <q-btn
            v-if="
              authStore.userRole === 'root' ||
              (authStore.userRole === 'admin' &&
                authStore.isPermissions('update-articles')) ||
              (authStore.userRole === 'writer' &&
                article.attributes.belongs_to_user)
            "
            @click="editArticle()"
            no-caps
          >
            Editar
          </q-btn>
        </q-card-actions>
        <q-card-actions align="right" class="tw-mr-3">
          <div class="flex tw-gap-2 tw-items-center tw-mr-5">
            <q-icon size="sm" name="visibility"></q-icon>
            <span class="tw-font-bold">{{
              article.attributes.views ?? 0
            }}</span>
          </div>
          <div class="flex tw-gap-2 tw-items-center">
            <q-icon
              class="tw-cursor-pointer"
              size="sm"
              name="thumb_up"
              :color="likeColor"
              @click="toggleLike(article.id)"
            ></q-icon>
            <span class="tw-font-bold">{{
              article.attributes.like_count ?? 0
            }}</span>
          </div>
        </q-card-actions>
      </div>
    </q-card>
  </div>
</template>
<script setup>
import { computed } from "vue";
import { useAuthStore } from "src/store/auth";
import { useArticleStore } from "src/store/articles";

const authStore = useAuthStore();
const articlesStore = useArticleStore();

const emit = defineEmits(["edit", "delete"]);
const props = defineProps({
  article: {
    type: Object,
    required: true,
  },
});

function deleteArticle() {
  emit("delete", props.article.id);
}

function editArticle() {
  emit("edit", props.article);
}

const toggleLike = (id) => {
  try {
    articlesStore.likeToggleArticle(id);
  } catch (error) {
    console.error(error);
  }
};

const likeColor = computed(() => {
  if (props.article.attributes.like) {
    return "blue";
  } else {
    return "";
  }
});
</script>
