<template>
  <q-page class="q-px-md q-py-xl">
    <H4Component>Articles Bin</H4Component>
    <div class="q-py-md">
      <ArticlesTable
        v-if="articleStore.articles.length"
        :articles="articleStore.articles"
        @edit="restoreArticle"
        @delete="deleteArticleForce"
      />
    </div>
  </q-page>
</template>
<script setup>
import { Notify } from "quasar";
import { onMounted } from "vue";
import { useArticleStore } from "src/store/articles";
import H4Component from "src/components/ui/H4Component.vue";
import ArticlesTable from "src/components/common/articles/ArticlesTable.vue";

const articleStore = useArticleStore();

onMounted(() => {
  loadArticles();
});

const loadArticles = async () => {
  try {
    await articleStore.getArticlesRemove();
  } catch (error) {
    console.error("Error fetching articles:", error);
    Notify.create({
      type: "negative",
      message:
        "Error al cargar los artículos. Por favor, intenta de nuevo más tarde.",
      position: "bottom-right",
    });
  }
};

const deleteArticleForce = async (id) => {
  try {
    await articleStore.articleRemoveForce(id);
    Notify.create({
      type: "positive",
      message: "Articulo se elimino permanentemente.",
      position: "bottom-right",
    });
  } catch (error) {
    console.error("Error al eliminar el articulo:", error);
    Notify.create({
      type: "negative",
      message: `Error al eliminar el articulo: ${error.message}`,
      position: "bottom-right",
    });
  }
};

const restoreArticle = async (id) => {
  try {
    await articleStore.restoreArticle(id);
    Notify.create({
      type: "positive",
      message: "Articulo restaurado correctamente.",
      position: "bottom-right",
    });
  } catch (error) {
    console.error("No se pudo restaurar el articulo", error);
    Notify.create({
      type: "negative",
      message: `No se pudo restaurar el articulo: ${error.message}`,
      position: "bottom-right",
    });
  }
};
</script>
