<template>
  <q-page class="q-px-md q-py-xl">
    <H4Component>User Bin</H4Component>
    <div class="q-py-md">
      <UsersTable
        v-if="userStore.users.length"
        :users="userStore.users"
        @edit="restoreUser"
        @delete="deleteUserForce"
      />
    </div>
  </q-page>
</template>

<script setup>
import { onMounted, watch } from "vue";
import { useRoute } from "vue-router";
import { Notify } from "quasar";
import { useUsersStore } from "src/store/users";

import H4Component from "src/components/ui/H4Component.vue";
import UsersTable from "src/components/common/users/UsersTable.vue";

const route = useRoute();
const userStore = useUsersStore();

const loadUsers = async () => {
  try {
    await userStore.getUsersRemove();
  } catch (error) {
    console.error("Error fetching users:", error);
    Notify.create({
      type: "negative",
      message:
        "Error al cargar los usuarios. Por favor, intenta de nuevo más tarde.",
      position: "bottom-right",
    });
  }
};

const deleteUserForce = async (id) => {
  try {
    await userStore.userRemoveForce(id);
    Notify.create({
      type: "positive",
      message: "Usuario se elimino permanentemente.",
      position: "bottom-right",
    });
  } catch (error) {
    console.error("Error al eliminar el usuario:", error);
    Notify.create({
      type: "negative",
      message: `Error al eliminar el usuario: ${error.message}`,
      position: "bottom-right",
    });
  }
};

const restoreUser = async (id) => {
  try {
    await userStore.restoreUser(id);
    Notify.create({
      type: "positive",
      message: "Usuario restaurado correctamente.",
      position: "bottom-right",
    });
  } catch (error) {
    console.error("No se pudo restaurar el usuario", error);
    Notify.create({
      type: "negative",
      message: `No se pudo restaurar el usuario: ${error.message}`,
      position: "bottom-right",
    });
  }
};

onMounted(() => {
  loadUsers();
});

watch(
  () => route.path,
  (newPath, oldPath) => {
    if (newPath !== oldPath) {
      loadUsers(newPath);
    }
  }
);
</script>
