<template>
  <q-btn
    :label="label"
    type="submit"
    color="light-blue-5"
    size="lg"
    no-caps
    class="q-py-sm full-width tw-rounded-lg"
  />
</template>

<script setup>
const props = defineProps({
  label: String,
});
</script>
