<template>
  <q-layout view="lHh Lpr lFf">
    <div class="row tw-h-screen">
      <div class="col-12 col-md-6 flex flex-center">
        <!-- Sección de la Imagen -->
        <q-img
          class="tw-w-full tw-h-screen tw-hidden lg:tw-block"
          src="~assets/img/fondo.png"
          alt="Fondo de pantalla de la aplicación"
          fit="cover"
        />
      </div>
      <q-page-container class="col-12 col-md-6">
        <router-view />
      </q-page-container>
    </div>
  </q-layout>
</template>

<script setup></script>
