<template>
  <q-layout view="hHh LpR fFf" class="">
    <q-header
      elevated
      class="tw-bg-gradient-to-r tw-from-cyan-500 tw-to-blue-500 text-black"
      height-hint="98"
    >
      <q-toolbar>
        <q-btn
          v-if="authStore.userRole === 'root' || authStore.userRole === 'admin'"
          dense
          flat
          round
          icon="menu"
          class="text-white"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-toolbar-title class="q-py-sm text-white">
          <span
            v-if="
              authStore.userRole === 'root' || authStore.userRole === 'admin'
            "
            >Dashboard</span
          >
          <span v-else></span>
        </q-toolbar-title>
        <q-btn-dropdown
          color="transparent"
          text-color="dark"
          unelevated
          square
          no-caps
          padding="none"
          :label="userName"
          class="text-white"
        >
          <q-list>
            <q-item clickable v-close-popup>
              <q-item-section>
                <q-item-label @click="logout">Cerrar sesión</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      :show-if-above="
        authStore.userRole === 'root' || authStore.userRole === 'admin'
      "
      :width="200"
      :breakpoint="500"
      bordered
      class="q-py-md"
    >
      <q-scroll-area class="fit">
        <q-list>
          <template v-for="(menuItem, index) in menuList" :key="index">
            <q-expansion-item
              v-if="menuItem.separator"
              :default-opened="menuItem.expanded"
              :icon="menuItem.icon"
              :label="menuItem.label"
            >
              <q-list>
                <template v-for="(item, i) in menuItem.items" :key="i">
                  <router-link :to="item.active">
                    <q-item
                      clickable
                      :active="
                        router.currentRoute.value.path.startsWith(
                          menuItem.active
                        )
                      "
                      v-ripple
                    >
                      <q-item-section avatar>
                        <q-icon :name="item.icon" />
                      </q-item-section>
                      <q-item-section>
                        {{ item.label }}
                      </q-item-section>
                    </q-item>
                  </router-link>
                </template>
              </q-list>
            </q-expansion-item>
            <router-link v-else :to="menuItem.active">
              <q-item
                clickable
                :active="
                  router.currentRoute.value.path.startsWith(menuItem.active)
                "
                v-ripple
              >
                <q-item-section avatar>
                  <q-icon :name="menuItem.icon" />
                </q-item-section>
                <q-item-section>
                  {{ menuItem.label }}
                </q-item-section>
              </q-item>
            </router-link>
            <q-separator :key="'sep' + index" v-if="menuItem.separator" />
          </template>
        </q-list>
      </q-scroll-area>
    </q-drawer>
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
import { ref, watch } from "vue";
import { computed } from "vue";
import { Notify } from "quasar";
import { useRouter } from "vue-router";
import { useAuthStore } from "src/store/auth";

const router = useRouter();
const authStore = useAuthStore();
const userName = computed(() => authStore.userName);
const leftDrawerOpen = ref(false);

const menuList = [
  {
    icon: "people_alt",
    label: "Usuarios",
    separator: true,
    expanded: true,
    routesActive: [
      {
        route: "/admins",
      },
      {
        route: "/writers",
      },
      {
        route: "/users",
      },
    ],
    items: [
      {
        label: "Administradores",
        separator: false,
        expanded: false,
        active: "/admins",
      },
      {
        label: "Escritores",
        separator: false,
        expanded: false,
        active: "/writers",
      },
      {
        label: "Usuarios",
        separator: false,
        expanded: false,
        active: "/users",
      },
    ],
  },
  {
    icon: "article",
    label: "Artículos",
    separator: false,
    expanded: false,
    active: "/articles",
  },
  {
    icon: "delete",
    label: "Papelera",
    separator: true,
    expanded: true,
    routesActive: [
      {
        route: "/bin/users",
        route: "/bin/articles",
      },
    ],
    items: [
      {
        label: "Users",
        separator: false,
        expanded: false,
        active: "/bin/users",
      },
      {
        label: "Articles",
        separator: false,
        expanded: false,
        active: "/bin/articles",
      },
    ],
  },
];

const logout = async () => {
  try {
    await authStore.logout();
    router.push("/");
  } catch (error) {
    const errorMessage =
      authStore.authError || "Falló el logout. Por favor, intenta de nuevo.";
    Notify.create({
      message: errorMessage,
      color: "negative",
      position: "bottom-right",
    });
  }
};

const isRouteActive = (routesActive) => {
  return routesActive.some(
    (route) => route.route === router.currentRoute.value.fullPath
  );
};

const updateMenuListExpandedState = () => {
  menuList.forEach((menu) => {
    if (menu.routesActive) {
      menu.expanded = isRouteActive(menu.routesActive);
    }
  });
};

watch(
  () => router.currentRoute.value,
  () => {
    updateMenuListExpandedState();
  },
  { immediate: true }
);
</script>
