<template>
  <q-form @submit.prevent="submitForm" class="tw-space-y-4">
    <div class="tw-grid tw-grid-cols-2 tw-gap-6">
      <div>
        <TextInput v-model="fullName.name" label="Name" />
      </div>
      <div>
        <TextInput v-model="fullName.last_name" label="Apellido" />
      </div>
    </div>
    <TextInput v-model="form.email" type="email" label="Correo electrónico" />
    <div v-if="route.path === '/admins'" class="tw-space-y-6">
      <div>
        <span>Permisos de usuarios</span>
        <div class="tw-grid tw-grid-cols-2">
          <q-checkbox
            v-for="(permission, index) in permissionsUsers"
            :key="index"
            v-model="permission.checked"
            :label="permission.label"
            color="light-blue-5"
            keep-color
          />
        </div>
      </div>
      <div>
        <span>Permisos de artículos</span>
        <div class="tw-grid tw-grid-cols-2">
          <q-checkbox
            v-for="(permission, index) in permissionsArticles"
            :key="index"
            v-model="permission.checked"
            :label="permission.label"
            color="light-blue-5"
            keep-color
          />
        </div>
      </div>
    </div>
    <SubmitButton :label="user ? 'Guardar' : 'Crear'" />
  </q-form>
</template>
<script setup>
import { ref, watchEffect } from "vue";
import { useRoute } from "vue-router";

import TextInput from "src/components/ui/forms/inputs/TextInput.vue";
import SubmitButton from "src/components/ui/forms/buttons/SubmitButton.vue";

const emit = defineEmits(["submit"]);
const props = defineProps({
  user: Object,
});

const route = useRoute();
const initialPermissionsUsers = [
  { label: "Ver usuarios", value: "read-users", checked: false },
  { label: "Crear usuarios", value: "create-users", checked: false },
  { label: "Actualizar usuarios", value: "update-users", checked: false },
  { label: "Eliminar usuarios", value: "delete-users", checked: false },
  {
    label: "Eliminar usuarios permanentemente",
    value: "destroy-users",
    checked: false,
  },
];

const initialPermissionsArticles = [
  { label: "Leer artículos", value: "read-articles", checked: false },
  { label: "Crear artículos", value: "create-articles", checked: false },
  { label: "Actualizar artículos", value: "update-articles", checked: false },
  { label: "Eliminar artículos", value: "delete-articles", checked: false },
  {
    label: "Eliminar artículos permanentemente",
    value: "destroy-articles",
    checked: false,
  },
];

const initialFullName = {
  name: "",
  last_name: "",
};

const initialForm = {
  name: "",
  email: "",
  permissions: [],
};

const permissionsUsers = ref([...initialPermissionsUsers]);
const permissionsArticles = ref([...initialPermissionsArticles]);
const fullName = ref({ ...initialFullName });
const form = ref({ ...initialForm });

function resetForm() {
  form.value = { ...initialForm };
  fullName.value = { ...initialFullName };
  permissionsUsers.value = [...initialPermissionsUsers];
  permissionsArticles.value = [...initialPermissionsArticles];
}

function submitForm() {
  const selectedPermissions = [
    ...permissionsUsers.value.filter((p) => p.checked).map((p) => p.value),
    ...permissionsArticles.value.filter((p) => p.checked).map((p) => p.value),
  ];

  form.value.permissions = selectedPermissions;
  form.value.name = `${fullName.value.name} ${fullName.value.last_name}`;

  emit("submit", form.value);

  resetForm();
}

watchEffect(() => {
  if (props.user) {
    const nameParts = props.user.attributes.name.split(" ");
    fullName.value.name = nameParts.shift();
    fullName.value.last_name = nameParts.join(" ");
    form.value.email = props.user.attributes.email;

    if (props.user.attributes.permissions) {
      permissionsUsers.value.forEach((permission) => {
        permission.checked = props.user.attributes.permissions.includes(
          permission.value
        );
      });

      permissionsArticles.value.forEach((permission) => {
        permission.checked = props.user.attributes.permissions.includes(
          permission.value
        );
      });
    }
  } else {
    resetForm();
  }
});
</script>
