<template>
  <q-form @submit.prevent="submitForm">
    <TextInput v-model="form.title" label="Titulo" />
    <TextInput v-model="form.content" type="textarea" label="Contenido" />
    <TextInput v-model="form.slug" label="Slug" />
    <SubmitButton :label="article ? 'Editar' : 'Crear'" />
  </q-form>
</template>

<script setup>
import { ref, watchEffect } from "vue";
import TextInput from "src/components/ui/forms/inputs/TextInput.vue";
import SubmitButton from "src/components/ui/forms/buttons/SubmitButton.vue";

const emit = defineEmits(["submit"]);
const props = defineProps({
  article: Object,
});

const form = ref({
  title: "",
  content: "",
  slug: "",
});

watchEffect(() => {
  if (props.article) {
    form.value.title = props.article.attributes.title || "";
    form.value.content = props.article.attributes.content || "";
    form.value.slug = props.article.attributes.slug || "";
  } else {
    form.value = { title: "", content: "", slug: "" };
  }
});

function submitForm() {
  emit("submit", form.value);
  form.value = { title: "", content: "", slug: "" };
}
</script>
