<template>
  <q-page class="q-px-md q-py-xl">
    <ArticlesSection />
  </q-page>
</template>

<script setup>
import ArticlesSection from "src/components/common/sections/ArticlesSection.vue";
</script>
