<template>
  <q-page class="q-px-md q-pb-lg">
    <div v-if="article">
      <q-img
        src="https://cdn.quasar.dev/img/parallax2.jpg"
        class="tw-max-h-[600px]"
      >
        <div class="absolute-bottom flex justify-between">
          <div>
            <div class="text-h6">{{ article.attributes.title }}</div>
            <div class="text-subtitle2">
              Slug: {{ article.attributes.slug }}
            </div>
          </div>
          <div class="flex tw-gap-4 tw-items-center">
            <div class="flex tw-gap-2 tw-items-center tw-mr-5">
              <q-icon size="sm" name="visibility"></q-icon>
              <span class="tw-font-bold">{{
                article.attributes.views ?? 0
              }}</span>
            </div>
            <div class="flex tw-gap-2 tw-items-center">
              <q-icon
                class="tw-cursor-pointer"
                size="sm"
                name="thumb_up"
                :color="likeColor"
                @click="toggleLike(article.id)"
              ></q-icon>
              <span class="tw-font-bold">{{
                article.attributes.like_count ?? 0
              }}</span>
            </div>
          </div>
        </div>
      </q-img>
      <p class="text-body1 q-pt-md">
        {{ article.attributes.content }}
      </p>
      <div class="q-mt-md flex tw-gap-5">
        <q-btn
          v-if="
            authStore.userRole === 'root' ||
            (authStore.userRole === 'admin' &&
              authStore.isPermissions('delete-articles')) ||
            (authStore.userRole === 'writer' &&
              article.attributes.belongs_to_user)
          "
          @click="deleteArticle(article.id)"
          no-caps
          color="negative"
        >
          Eliminar
        </q-btn>
        <q-btn
          v-if="
            authStore.userRole === 'root' ||
            (authStore.userRole === 'admin' &&
              authStore.isPermissions('update-articles')) ||
            (authStore.userRole === 'writer' &&
              article.attributes.belongs_to_user)
          "
          @click="isOpenArticleDialog = true"
          no-caps
        >
          Editar
        </q-btn>
      </div>
    </div>
    <DialogComponent
      title="Editar Artículo"
      :isVisible="isOpenArticleDialog"
      @update:isVisible="isOpenArticleDialog = $event"
    >
      <ArticleForm :article="article" @submit="handleFormSubmit" />
    </DialogComponent>
  </q-page>
</template>

<script setup>
import { ref, onMounted, computed } from "vue";
import { useRoute, useRouter } from "vue-router";
import { useArticleStore } from "src/store/articles";
import { useAuthStore } from "src/store/auth";
import { Notify } from "quasar";

import DialogComponent from "src/components/ui/DialogComponent.vue";
import ArticleForm from "src/components/forms/articles/ArticleForm.vue";

const route = useRoute();
const router = useRouter();
const articleStore = useArticleStore();
const articleId = route.params.id;
const authStore = useAuthStore();
const isOpenArticleDialog = ref(false);

const deleteArticle = async (id) => {
  try {
    await articleStore.removeArticle(id);
    Notify.create({
      type: "positive",
      message: "Artículo eliminado correctamente.",
      position: "bottom-right",
    });
    router.push("/articles");
  } catch (error) {
    console.error("Error deleting article:", error);
    Notify.create({
      type: "negative",
      message: `Error al eliminar el artículo: ${error.message}`,
      position: "bottom-right",
    });
  }
};

const handleFormSubmit = async (articleData) => {
  try {
    await articleStore.updateArticle(article.value.id, articleData);
    Notify.create({
      type: "positive",
      message: "Artículo actualizado correctamente.",
      position: "bottom-right",
    });
  } catch (error) {
    const errorMessage =
      articleStore.articleError ||
      "Error al procesar la solicitud. Por favor, intenta de nuevo.";
    Notify.create({
      message: errorMessage,
      color: "negative",
      position: "bottom-right",
    });
  }
  isOpenArticleDialog.value = false;
};

const toggleLike = (id) => {
  try {
    articleStore.likeToggleArticle(id);
  } catch (error) {
    console.error(error);
  }
};

const likeColor = computed(() => {
  if (article.value.attributes.like) {
    return "blue";
  } else {
    return "";
  }
});

const article = computed(() => {
  return articleStore.article;
});

onMounted(async () => {
  try {
    await articleStore.getArticle(articleId);
  } catch (error) {
    console.error("Error fetching articles:", error);
    Notify.create({
      type: "negative",
      message:
        "Error al cargar los artículos. Por favor, intenta de nuevo más tarde.",
      position: "bottom-right",
    });
  }
});
</script>
