<template>
  <q-dialog v-model="visible">
    <q-card class="tw-w-full">
      <q-card-section class="row items-center">
        <div class="text-h6">{{ title }}</div>
        <q-space />
        <q-btn icon="close" flat round dense @click="closeDialog" />
      </q-card-section>
      <q-card-section>
        <slot />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup>
import { computed } from "vue";

const props = defineProps({
  title: String,
  isVisible: Boolean,
});

const emit = defineEmits(["update:isVisible"]);

const visible = computed({
  get: () => props.isVisible,
  set: (val) => emit("update:isVisible", val),
});

const closeDialog = () => {
  visible.value = false;
};
</script>
