<template>
  <q-form @submit.prevent="onSubmit" class="tw-space-y-4">
    <EmailInput v-model="loginForm.email" />
    <PasswordInput v-model="loginForm.password" />
    <SubmitButton label="Login" />
    <div class="text-right q-mt-md">
      ¿No tienes una cuenta?
      <router-link to="/register" class="text-light-blue-5 tw-underline"
        >Regístrate aquí</router-link
      >
    </div>
  </q-form>
</template>

<script setup>
import { ref } from "vue";
import { useAuthStore } from "src/store/auth";
import { Notify } from "quasar";
import { useRouter } from "vue-router";

import EmailInput from "src/components/ui/forms/inputs/EmailInput.vue";
import PasswordInput from "src/components/ui/forms/inputs/PasswordInput.vue";
import SubmitButton from "src/components/ui/forms/buttons/SubmitButton.vue";

const router = useRouter();
const authStore = useAuthStore();

const loginForm = ref({
  email: "",
  password: "",
});

const onSubmit = async () => {
  try {
    await authStore.signIn(loginForm.value);
    if (authStore.userRole === "root" || authStore.userRole === "admin") {
      router.push("/admins");
    } else {
      router.push("/articles");
    }
  } catch (error) {
    console.error(error);
    const errorMessage =
      authStore.authError ||
      "Falló el inicio de sesión. Por favor, intenta de nuevo.";
    Notify.create({
      message: errorMessage,
      color: "negative",
      position: "bottom-right",
    });
  }
};
</script>
