<template>
  <q-form @submit.prevent="onSubmit" class="tw-space-y-4">
    <div class="q-gutter-x-md row">
      <div class="col">
        <TextInput v-model="registerForm.name" label="Nombre" />
      </div>
      <div class="col">
        <TextInput v-model="registerForm.last_name" label="Apellido" />
      </div>
    </div>
    <EmailInput v-model="registerForm.email" />
    <PasswordInput v-model="registerForm.password" />
    <PasswordInput
      v-model="registerForm.password_confirmation"
      label="Confirmar Contraseña"
    />
    <SubmitButton label="Registrarse" />
    <div class="text-right q-mt-md">
      ¿Ya tienes una cuenta?
      <router-link to="/" class="text-light-blue-5 tw-underline"
        >Inicia sesión aquí</router-link
      >
    </div>
  </q-form>
</template>

<script setup>
import { ref } from "vue";
import { useAuthStore } from "src/store/auth";
import { Notify } from "quasar";
import { useRouter } from "vue-router";

import TextInput from "src/components/ui/forms/inputs/TextInput.vue";
import EmailInput from "src/components/ui/forms/inputs/EmailInput.vue";
import PasswordInput from "src/components/ui/forms/inputs/PasswordInput.vue";
import SubmitButton from "src/components/ui/forms/buttons/SubmitButton.vue";

const router = useRouter();
const authStore = useAuthStore();

const registerForm = ref({
  name: "",
  last_name: "",
  email: "",
  password: "",
  password_confirmation: "",
});

const formErrors = ref({
  passwordConfirmation: "",
});

const onSubmit = async () => {
  if (
    registerForm.value.password !== registerForm.value.password_confirmation
  ) {
    Notify.create({
      message: "Las contraseñas no coinciden.",
      color: "negative",
      position: "bottom-right",
    });
    return;
  }

  try {
    await authStore.register(registerForm.value);
    router.push("/dashboard");
  } catch (error) {
    const errorMessage =
      authStore.authError || "Falló el registro. Por favor, intenta de nuevo.";
    Notify.create({
      message: errorMessage,
      color: "negative",
      position: "bottom-right",
    });
  }
};
</script>
