<template>
  <q-markup-table>
    <thead class="bg-teal text-white">
      <tr>
        <th class="text-left">Nombre</th>
        <th class="text-left">Correo electrónico</th>
        <th class="text-left">Roll</th>
        <th class="text-left">Permisos</th>
        <th v-if="route.path === '/writers'" class="text-left">Artículos</th>
        <th
          v-if="
            authStore.userRole === 'root' ||
            (route.path !== '/admins' &&
              authStore.userRole === 'admin' &&
              (authStore.isPermissions('update-users') ||
                authStore.isPermissions('delete-users')))
          "
          class="text-left"
        >
          Acciones
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="user in users" :key="user.id">
        <td class="text-left">{{ user.attributes.name }}</td>
        <td class="text-left">{{ user.attributes.email }}</td>
        <td class="text-left">
          {{ user.attributes.role ? user.attributes.role : "user" }}
        </td>
        <td class="text-left">
          <div v-if="user.attributes.permissions !== undefined">
            <span
              v-for="(permission, index) in user.attributes.permissions"
              :key="index"
            >
              {{ permission }} <br />
            </span>
          </div>
          <span v-else> Sin permisos <br /> </span>
        </td>
        <td v-if="route.path === '/writers'" class="text-left">
          <div class="flex tw-justify-between tw-items-center">
            <div
              v-if="
                user.relationships &&
                user.relationships.articles &&
                user.relationships.articles.data.length
              "
            >
              <span
                v-for="(article, index) in user.relationships.articles.data"
                :key="index"
              >
                - {{ article.attributes.title }} <br />
              </span>
            </div>
            <span v-else> Sin artículos <br /> </span>
            <span class="tw-font-bold"
              >Total:
              {{
                user.relationships && user.relationships.articles
                  ? user.relationships.articles.data.length
                  : ""
              }}</span
            >
          </div>
        </td>
        <td
          v-if="
            authStore.userRole === 'root' ||
            (route.path !== '/admins' &&
              authStore.userRole === 'admin' &&
              (authStore.isPermissions('update-users') ||
                authStore.isPermissions('delete-users')))
          "
          class="text-left"
        >
          <q-btn
            v-if="
              route.path !== '/bin/users' &&
              (authStore.userRole === 'root' ||
                authStore.isPermissions('update-users'))
            "
            label="Editar"
            color="secondary"
            no-caps
            @click="edit(user)"
          />
          <q-btn
            v-if="
              route.path === '/bin/users' &&
              (authStore.userRole === 'root' ||
                authStore.isPermissions('restore-users'))
            "
            label="Restaurar"
            color="secondary"
            no-caps
            @click="edit(user.id)"
          />
          <q-btn
            v-if="
              route.path !== '/bin/users' &&
              (authStore.userRole === 'root' ||
                authStore.isPermissions('delete-users'))
            "
            class="q-ml-md"
            label="Eliminar"
            color="negative"
            no-caps
            @click="deleted(user.id)"
          />
          <q-btn
            v-if="
              route.path === '/bin/users' &&
              (authStore.userRole === 'root' ||
                authStore.isPermissions('destroy-users'))
            "
            class="q-ml-md"
            label="Eliminar permanentemente"
            color="negative"
            no-caps
            @click="deleted(user.id)"
          />
        </td>
      </tr>
    </tbody>
  </q-markup-table>
</template>
<script setup>
import { useRoute } from "vue-router";
import { useAuthStore } from "src/store/auth";

const route = useRoute();
const authStore = useAuthStore();

const emit = defineEmits(["edit", "delete"]);
const props = defineProps({
  users: {
    type: Object,
    required: true,
  },
});

function deleted(userId) {
  emit("delete", userId);
}

function edit(user) {
  emit("edit", user);
}
</script>
